
    <!--////////////////////////////////////Header-->
    <header>
        <div class="wrap-header zerogrid">
            <div class="row">
                <div id="cssmenu">
                    <ul>
                        <li class='active'><a href="/">Главный</a></li>
                        <li><a href="archive">Новости</a></li>
                        <li><a href="single">О нас</a></li>
                        <li><a href="contact">Контакты</a></li>
                    </ul>
                </div>
                <a href='/' class="logo"><img src="/images/images/logo.png" /></a>
            </div>
        </div>
    </header>
