<div class="bg-white">
    <div class="zerogrid">
        <div class='embed-container maps'>
            <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAqbZqUYdYr9ka6vd0dScYrYEYuhCRhC-s&q=Kyrgyz+State+University+Of+Construction+And+Architecture" width="100%" height="450px" frameborder="0" style="border: 0"></iframe>
        </div>
    </div>
</div>