<div class="bg-white">
    <div class="zerogrid">
<!-- Slideshow -->
        <div class="callbacks_container">
            <ul class="rslides" id="slider">
                <li>
                    <img src="/images/images/slideshow-image1.jpg" alt="">
                    <div class="caption">
                        <h1>Добро пожаловать в ИНИТ</h1>
                        <span >Lorem ipsum dolor sit amet</span>
                    </div>
                </li>
                <li>
                    <img src="/images/images/slideshow-image2.jpg" alt="">
                    <div class="caption">
                        <h1>Новые технологии путь к будущему</h1>
                        <span >Lorem ipsum dolor sit amet</span>
                    </div>
                </li>
                <li>
                    <img src="/images/images/slideshow-image3.jpg" alt="">
                    <div class="caption">
                        <h1>Получите качественные знания</h1>
                        <span >Lorem ipsum dolor sit amet</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>