<!-- /////////////////////////////////////////Top -->
<div class="top">
    <div class="zerogrid">
        <div class="row">
            <div class="f-left">
                <span><i class="fa fa-map-marker"></i> Бишкек, ул. Малдыбаева 34б </span>
                <span><i class="fa fa-phone"></i> 0(312)54-35-61</span>
                <span><i class="fa fa-envelope"></i> ksucta@elcat.kg</span>
            </div>
            <div class="f-right">
                <span>Институт новых информационных технологий.</span>
            </div>
        </div>
    </div>
</div>
